[submodule "src/vendor/Doctrine"]
	path = lib/vendor/Doctrine
	url = git://github.com/doctrine/common.git
[submodule "src/vendor/Moko"]
	path = lib/vendor/Moko
	url = git://github.com/sergeil/Moko.git
[submodule "lib/vendor/Logade"]
	path = lib/vendor/Logade
	url = git://github.com/sergeil/Logade.git
